

.icons{
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  position: relative;
  right: 200px;
  bottom: 100px;
}
.icons:hover{
  transform: scale(1.1);
  transition: 0.5s;
  opacity: .9;
  margin: 2px;
}
.icons:active{
  transition: 1s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-origin: center;
}

.top1{

  background-color: #968d8d00;
  position: relative;
  width: 500px;
  height: 360px;
  left: 0px;
}
.top1:hover{
  transform: scale(1.1);
  transition: 0.5s;
  opacity: .9;
  margin: 50px;
}
.txt{
  font-size: 3em;
  color: #000000a8;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
  padding-left: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: relative;
  bottom: 130px;
  left: 70px;
  background:none;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.225);
  transform: scale(1.1);
  transform-origin: center; 
  margin: 10px;
}

div.top{
  background: linear-gradient(to right, #90f6ff85, #39b799cc);
}
h1{
  margin: 0px;
}
h2{
  margin: 0px;
  padding: 10px;
}
p{
  margin: 0px;
  padding: 20px;
}
h2:hover{
  text-decoration:underline;
  transition: 1.0s;
}
.link-icon{
  background:none;
}
