*{
  margin: 0px;
  padding:0px;
  font-family: Arial, sans-serif;
  color: #181818;
  background-color: #ffffff;
}
header{
  padding: px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}
footer{
  background-color: #ffffff; 
}

header>nav{
  background: linear-gradient(to top, #000000a2, #ffffff);
}

header ul li{
  background: none;
  padding: 10px 20px;
  margin: 0px;
}

nav ul{
  display: flex;
  list-style-type: none;
}
  
header nav ul li a{
  padding: 10px 20px;
  text-decoration: none;
  color: #fffffff8;
  border-radius: 30px;
  margin: 0px;
  background-color: #0b8686fa;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer nav ul li a{
  display: inline-flex;
  padding: 10px 20px;
  text-decoration: none;
  color: #5f898cc5;
  background: none;
  border: none;
  font-size: 13.3px;
}
header nav ul{
  border-radius: 2px;
  box-shadow: 0 10px 10px rgba(86, 85, 85, 0.177);
  
}
footer nav{
  border-radius: 2px;
  border-top: solid 1px rgba(199, 202, 202, 0.336);
}
header a{
  display: inline-block;
  padding: 10px 20px;
}
a{
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
header b{
  background: none;
  color: #ffffff;
}
html{
  box-shadow: 0 10px 10px rgba(43, 43, 43, 0.177);
  background-color: #649d8a;
  border-color: #000000;
  margin: 0px;
  padding-bottom: 0px;
  border-radius: 10px;
}
a.home:hover{
  background-color: #0b8686e2;
  transition: 0.4s;
  color: #00000094;
  transition: 0.3s;
  transform: scale(1.1);
  transform-origin: center;
  }
  a.home:active{
    background-color: #000000e2;
    transition: 0.4s;
  color: white;
  transition: 1s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-origin: center;
  }
  a.about:hover{
    background-color: #0b8686e2;
    transition: 0.4s;
  color: #00000094;
  transition: 0.3s;
  transform: scale(1.1);
  transform-origin: center;
    }
    a.about:active{
      background-color: #000000e2;
      transition: 0.4s;
    color: white;
    transition: 1s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-origin: center;
  }
    a.contact:hover{
      background-color: #0b8686e2;
      transition: 0.4s;
      color: #00000094;
      transition: 0.3s;
  transform: scale(1.1);
  transform-origin: center;
      }
      a.contact:active{
        background-color: #000000e2;
        transition: 0.4s;
      color: white;
      transition: 1s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-origin: center;
    }
    